@if (tabItems && tabItems.length) {
<div class="d-flex gap-1">
    @for (tab of tabItems; track tab.title; let index = $index) {
    @if (!tab.removed) {
    <ng-container
        [ngTemplateOutlet]="tabTitle"
        [ngTemplateOutletContext]="{ title: tab.title, index }"
    ></ng-container>
    }
    }
</div>
<div class="border p-3">
    <ng-content></ng-content>
</div>
}

<ng-template
    #tabTitle
    let-title="title"
    let-index="index"
>
    <div
        class="px-3 py-2 bg-primary border clickable d-flex gap-2"
        [ngClass]="{ active: index === activeIndex() }"
        (click)="setActiveTab(index)"
    >
        <span>{{ title }}</span>
        <span
            class="close"
            (click)="removeTab($event, index)"
        >&times;</span>
    </div>
</ng-template>